<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button 
      type="button" 
      data-bs-target="#homeCarousel" 
      data-bs-slide-to="0" 
      class="active" 
      aria-current="true" 
      aria-label="Slide 1">
    </button>
    <button 
      type="button" 
      data-bs-target="#homeCarousel" 
      data-bs-slide-to="1" 
      aria-label="Slide 2">
    </button>
    <button 
      type="button" 
      data-bs-target="#homeCarousel" 
      data-bs-slide-to="2" 
      aria-label="Slide 3">
    </button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "slide1.jpg", class: "d-block", alt: "Slide 1" %>
      <div class="carousel-caption d-none d-md-block">
        <h5><%= t "views.static_pages.home.slide.welcome" %></h5>
        <p><%= t "views.static_pages.home.slide.accompany" %></p>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "slide2.jpg", class: "d-block", alt: "Slide 2" %>
      <div class="carousel-caption d-none d-md-block">
        <h5><%= t "views.static_pages.home.slide.service_quality" %></h5>
        <p><%= t "views.static_pages.home.slide.service_commitment" %></p>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "slide3.jpg", class: "d-block", alt: "Slide 3" %>
      <div class="carousel-caption d-none d-md-block">
        <h5><%= t "views.static_pages.home.slide.reasonable_price" %></h5>
        <p><%= t "views.static_pages.home.slide.competitive_price" %></p>
      </div>
    </div>
  </div>

  <button 
    class="carousel-control-prev" 
    type="button" 
    data-bs-target="#homeCarousel" 
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><%= t "views.static_pages.home.slide.previous" %></span>
  </button>

  <button 
    class="carousel-control-next" 
    type="button" 
    data-bs-target="#homeCarousel" 
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><%= t "views.static_pages.home.slide.next" %></span>
  </button>
</div>
