<% vehicle_count = model.vehicle_free_count(@start_datetime, @end_datetime) %>
<% if vehicle_count > 0 %>
  <div class="col-md-4 mb-4">
    <div class="card shadow-sm">
      <%= image_tag model.available_image || "placeholder_image.jpg", class: "card-img-top img-fluid", alt: t("views.models.index.image_alt", model_name: model.name) %>
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title"><%= model.name %></h5>
          <p class="card-text">
            <strong><%= t "views.models.index.price_per_day" %>:</strong>
            <span style="color: red; font-weight: bold;">
              ₫<%= number_with_delimiter(model.price_per_day, delimiter: ".") %>
            </span>
          </p>
          <p class="card-text text-muted">
            <strong><%= t "views.models.index.vehicle_count" %>:</strong>
            <%= vehicle_count %> <%= t "views.models.index.vehicles" %>
          </p>
        </div>
        <%= link_to t("views.models.index.view_details"), model_path(model), 
            class: "btn btn-outline-primary btn-sm btn-block" %>
      </div>
    </div>
  </div>
<% end %>
