<%= search_form_for @q, url: models_path, method: :get, class: "mb-4 p-4 border rounded shadow-sm bg-light" do |f| %>
  <div class="row g-3">
    <!-- Bộ lọc ngày -->
    <div class="col-md-6">
      <%= render partial: "shared/datetime_selector", locals: {
        field_name: "start_datetime",
        label_text: t("views.models.index.rental_start"),
        value: @start_datetime
      } %>
    </div>
    <div class="col-md-6">
      <%= render partial: "shared/datetime_selector", locals: {
        field_name: "end_datetime",
        label_text: t("views.models.index.rental_end"),
        value: @end_datetime
      } %>
    </div>

    <!-- Bộ lọc dropdown -->
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label"><%= t("views.models.index.select_brand") %></label>
        <%= f.collection_select :brand_id_eq, @brands, :id, :name, 
            { include_blank: t("views.models.index.select_brand") }, 
            { class: "form-select", selected: params[:brand_id_eq] } %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label"><%= t("views.models.index.select_vehicle_type") %></label>
        <%= f.select :vehicle_type_eq, 
            Model.vehicle_types.map { |key, value| [t("activerecord.attributes.model.vehicle_types.#{key}"), value] }, 
            { include_blank: t("views.models.index.select_vehicle_type") }, 
            { class: "form-select", selected: params[:vehicle_type_eq] } %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label"><%= t("views.models.index.select_engine_capacity") %></label>
        <%= f.select :engine_capacity_eq, 
            Model.engine_capacities.map { |key, value| [t("activerecord.attributes.model.engine_capacities.#{key}"), value] }, 
            { include_blank: t("views.models.index.select_engine_capacity") }, 
            { class: "form-select", selected: params[:engine_capacity_eq] } %>
      </div>
    </div>

    <!-- Bộ lọc giá -->
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label"><%= t("views.models.index.min_price") %></label>
        <%= f.number_field :price_per_day_gteq, 
            placeholder: t("views.models.index.min_price"), class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label"><%= t("views.models.index.max_price") %></label>
        <%= f.number_field :price_per_day_lteq, 
            placeholder: t("views.models.index.max_price"), class: "form-control" %>
      </div>
    </div>

    <!-- Nút lọc và xóa bộ lọc -->
    <div class="col-12 text-end mt-3">
      <%= f.submit t("views.models.index.filter"), class: "btn btn-primary px-4 me-2" %>
      <%= link_to t("views.models.index.clear_filters"), models_path, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>

  <!-- Hiển thị danh sách model -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
    <%= render partial: "model_card", collection: @models, as: :model %>
  </div>
<% end %>
