<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h2 class="text-center mb-4"><%= t("devise.passwords.forgot_password") %></h2>

      <div class="card shadow">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-3">
              <%= f.label :email, t("devise.passwords.email"), class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="d-grid">
              <%= f.submit t("devise.passwords.send_reset_instructions"), class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
