<tr>
  <td><%= rental.name %></td>
  <td><%= rental.phone_number %></td>
  <td><%= rental.delivery_location %></td>
  <td><%= rental.start_datetime.strftime("%H:%M, %d/%m/%Y") %></td>
  <td><%= rental.end_datetime.strftime("%H:%M, %d/%m/%Y") %></td>
  <td>₫<%= number_with_delimiter(rental.total_price, delimiter: ".") %></td>
  <td>
    <span class="badge rounded-pill <%= rental_status_color(rental.status) %>">
      <%= rental.status_name.capitalize %>
    </span>
  </td>
  <td class="text-end">
    <div class="btn-group" role="group">
      <% if rental.pending? %>
        <%= button_to approve_admin_rental_path(rental),
                      method: :patch,
                      class: "btn btn-success btn-sm" do %>
          <i class="bi bi-check-lg"></i>
          <%= t("views.rentals.index.approve") %>
        <% end %>

        <button type="button"
                class="btn btn-danger btn-sm ms-1"
                data-bs-toggle="modal"
                data-bs-target="#rejectModal-<%= rental.id %>">
          <i class="bi bi-x-lg"></i>
          <%= t("views.rentals.index.reject") %>
        </button>
      <% end %>
      <%= link_to admin_rental_path(rental),
                  class: "btn btn-info btn-sm ms-1" do %>
        <i class="bi bi-eye"></i>
        <%= t("views.rentals.index.view") %>
      <% end %>
    </div>

    <% if rental.pending? %>
      <div class="modal fade"
           id="rejectModal-<%= rental.id %>"
           tabindex="-1"
           aria-labelledby="rejectModalLabel-<%= rental.id %>"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="rejectModalLabel-<%= rental.id %>">
                <%= t("views.rentals.index.reject_reason") %>
              </h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with(url: reject_admin_rental_path(rental),
                            method: :patch,
                            class: "text-start") do |f| %>
                <div class="mb-3">
                  <%= f.label :decline_reason,
                              t("views.rentals.index.reason"),
                              class: "form-label" %>
                  <%= f.text_area :decline_reason,
                                  class: "form-control",
                                  rows: 3,
                                  required: true %>
                </div>
                <div class="text-end">
                  <button type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal">
                    <%= t("views.shared.cancel") %>
                  </button>
                  <%= f.submit t("views.rentals.index.confirm_reject"),
                               class: "btn btn-danger ms-2" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </td>
</tr>
