<%= provide :title, t("views.rentals.index.title") %>

<div class="container mt-4">
  <h1 class="mb-4 text-center"><%= t("views.rentals.index.title") %></h1>
  <div class="row mb-4">
    <div class="col-md-8 offset-md-2">
      <%= search_form_for @q, url: admin_rentals_path, method: :get, html: { class: "form-inline" } do |f| %>
        <div class="row mb-3">
          <div class="col">
            <%= f.search_field :name_cont, 
              placeholder: t("views.rentals.index.search_name"), 
              class: "form-control" %>
          </div>
          <div class="col">
            <%= f.search_field :phone_number_cont, 
              placeholder: t("views.rentals.index.search_phone"), 
              class: "form-control" %>
          </div>
          <div class="col">
            <%= f.search_field :user_email_cont, 
              placeholder: t("views.rentals.index.search_email"), 
              class: "form-control" %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <%= f.search_field :start_datetime_gteq, 
              type: "date", 
              placeholder: t("views.rentals.index.start_date"), 
              class: "form-control" %>
          </div>
          <div class="col">
            <%= f.search_field :end_datetime_lteq, 
              type: "date", 
              placeholder: t("views.rentals.index.end_date"), 
              class: "form-control" %>
          </div>
          <div class="col">
            <%= f.select :status_eq, 
              Rental.statuses.map { |key, value| [t("models.rental.statuses.#{key}"), value] },
              { include_blank: t("views.rentals.index.select_status") },
              class: "form-select",
              selected: params.dig(:q, :status_eq)&.to_i %>
          </div>
          <div class="col d-flex align-items-center">
            <div class="form-check">
              <%= f.check_box :overdue, { class: "form-check-input" }, "true", "false" %>
              <%= f.label :overdue, t("views.rentals.index.overdue"), class: "form-check-label ms-1" %>
            </div>
          </div>
          <div class="col-auto">
            <%= f.submit t("views.rentals.index.search"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @rentals.any? %>
    <%= render partial: "rental_table", locals: { rentals: @rentals } %>
  <% else %>
    <div class="alert alert-info text-center">
      <%= t("views.rentals.index.no_rentals") %>
    </div>
  <% end %>
</div>
