<% vehicle_count = cart_item.model.vehicle_free_count(start_datetime, end_datetime) %>
<tr class="<%= 'bg-light' if vehicle_count == 0 %>">
  <td>
    <div class="d-flex flex-column align-items-center position-relative">
      <%= image_tag cart_item.model.available_image || "placeholder_image.jpg", 
          class: "img-thumbnail mb-2 #{'opacity-50' if vehicle_count == 0}", 
          alt: t("views.models.index.image_alt", model_name: cart_item.model.name) %>
      <% if vehicle_count == 0 %>
        <div class="position-absolute top-50 start-50 translate-middle bg-danger text-white px-2 py-1 rounded">
          <%= t("views.cart_items.index.out_of_stock") %>
        </div>
      <% end %>
      <small class="text-muted">
        <%= t("views.cart_items.index.quantity_available") %> 
        <%= vehicle_count %>
      </small>
    </div>
  </td>
  
  <td class="align-middle"><%= cart_item.model.name %></td>
  <td class="align-middle">
    <span class="cart-item-price">₫<%= number_with_delimiter(cart_item.model.price_per_day, delimiter: ".") %></span>
  </td>
  <td class="align-middle">
    <div class="d-flex align-items-center">
      <span class="font-weight-bold"><%= cart_item.quantity %></span>
    </div>
  </td>

  <td class="align-middle">
    <span class="cart-item-price">₫<%= number_with_delimiter(cart_item.total_price, delimiter: ".") %></span>
  </td>
  
  <td class="align-middle">
    <div class="btn-group" role="group">
      <%= link_to t("views.cart_items.index.delete"), 
          cart_item_path(cart_item), 
          data: {turbo_method: :delete, confirm: t("views.cart_items.index.confirm_delete")}, 
          class: "btn btn-sm btn-danger" %>
    </div>
  </td>
</tr>
