<%= provide :title, t("views.rentals.index.title") %>

<div class="container mt-4">
  <h1 class="mb-4 text-center"><%= t("views.rentals.index.title") %></h1>
  <div class="row mb-4">
    <div class="col-md-8 offset-md-2">
      <%= form_with(url: user_rentals_path, method: :get, local: true) do %>
        <div class="row mb-3">
          <div class="col">
            <input type="text" name="search_name" placeholder="<%= t("views.rentals.index.search_name") %>" class="form-control" value="<%= params[:search_name] %>">
          </div>
          <div class="col">
            <input type="text" name="search_phone" placeholder="<%= t("views.rentals.index.search_phone") %>" class="form-control" value="<%= params[:search_phone] %>">
          </div>
          <div class="col">
            <input type="email" name="search_email" placeholder="<%= t("views.rentals.index.search_email") %>" class="form-control" value="<%= params[:search_email] %>">
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <input type="date" name="start_datetime" placeholder="<%= t("views.rentals.index.start_date") %>" class="form-control" value="<%= params[:start_datetime] %>">
          </div>
          <div class="col">
            <input type="date" name="end_datetime" placeholder="<%= t("views.rentals.index.end_date") %>" class="form-control" value="<%= params[:end_datetime] %>">
          </div>
          <div class="col">
            <%= select_tag(
              :status,
              options_for_select(
                Rental.statuses.map { |key, _value| [t("models.rental.statuses.#{key}"), key] },
                params[:status]
              ),
              { prompt: t("views.rentals.index.select_status"), class: "form-control" }
            ) %>
          </div>
          <div class="col">
            <div class="form-check form-switch">
              <input type="checkbox" name="overdue" class="form-check-input" id="overdueToggle" <%= "checked" if params[:overdue] == "on" %> >
              <label class="form-check-label" for="overdueToggle">
                <%= t("views.rentals.index.overdue") %>
              </label>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">
              <%= t("views.rentals.index.search") %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @rentals.any? %>
    <%= render partial: "rental_table", locals: { rentals: @rentals } %>
  <% else %>
    <div class="alert alert-info">
      <%= t("views.rentals.index.no_rentals") %>
    </div>
  <% end %>
</div>
