<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to t("views.navbar.app_name"), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t("views.navbar.home"), root_path, class: "nav-link active", aria: { current: "page" } %>
        </li>
        <li class="nav-item">
          <%= link_to t("views.navbar.contact"), contact_path, class: "nav-link" %>
        </li>
        
        <% if user_signed_in? %>
          <% if can? :manage, Rental %>
            <li class="nav-item">
              <%= link_to t("views.navbar.rentals"), admin_rentals_path, class: "nav-link" %>
            </li>
          <% elsif can? :read, Rental %>
            <li class="nav-item">
              <%= link_to t("views.navbar.rentals"), user_rentals_path, class: "nav-link" %>
            </li>
          <% end %>
        <% end %>

        <% unless can? :manage, Rental %>
          <li class="nav-item">
            <%= link_to t("views.navbar.rent_now"), models_path, class: "nav-link" %>
          </li>
        <% end %>

        <% if can? :manage, User %>
          <li class="nav-item">
            <%= link_to t("views.navbar.user_list"), users_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="carDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t "views.navbar.vehicle_manage" %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="carDropdown">
              <li><%= link_to t("views.navbar.vehicle_list"), vehicle_details_path, class: "dropdown-item" %></li>
              <li><%= link_to t("views.navbar.model_list"), models_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      
      <ul class="navbar-nav align-items-center">
        <li class="nav-item cart-icon">
          <%= link_to cart_items_path, class: "nav-link" do %>
            <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
            <% if current_user&.cart_items %>
              <span class="cart-count"><%= current_user.cart_items.sum(:quantity) || 0 %></span>
            <% end %>
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                <%= link_to t("views.navbar.profile"), user_path(current_user), class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to t("views.navbar.logout"), destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t("views.navbar.login"), new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
