<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container mt-4">
      <% flash.each do |message_type, message| %>
        <div class="alert 
                    <%= "alert-success" if message_type == "success" %>
                    <%= "alert-danger" if message_type == "error" %>
                    <%= "alert-info" if message_type == "notice" %>
                    <%= "alert-warning" if message_type == "warning" %>
                    <%= "alert-primary" if message_type == "primary" %>
                    <%= "alert-secondary" if message_type == "secondary" %>
                    <%= "alert-light" if message_type == "light" %>
                    <%= "alert-dark" if message_type == "dark" %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
